@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$green:#056277;
$black:#303030;
$white:#ffffff;

.p-relative {
	position: relative;
}

body {
	overflow-x: hidden;
}

.p-left {
	padding-left:0;
}

.burger {
	display: none;
}

.p-none {
	padding:0;
}

.p-right {
	padding-right:0;
}

.form-control:focus {
	box-shadow:inherit;
	border-color:inherit;
}

.close-icon {
	display: none!important;	
}

#grey {
	background-color:rgba(1,1,1,0.7);
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: none;
	z-index:100;

	&.view {
		display: block;
	}
}

* {
	transition: all 0.2s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.close-icon {
	display: none;
}

#menu-about {
	position:fixed;
	left: 30px;
	top:50%;
	transform: translate(0,-50%);
	z-index: 100;
	padding: 0;

	a {
		background-color: #303030;
		border-radius: 50%;
		width: 12px;
		height: 12px;
		display: block;
		margin-bottom: 14px;
		position: relative;

		span {
			display: none;
			position: absolute;
			font-size: 15px;
			width: 160px;
			top: -6px;
			left: 27px;
			color:#056277;
			line-height: 18px;
			font-weight: 600;
		}

		&.active {
			background-color: #056277;
			border-radius: 50%;
			position: relative;

			span {
				display: block;
			}

			&::before {
				content: '';
				width: 20px;
				height: 20px;
				left:-4px;
				top:-4px;
				position: absolute;
				border-radius: 50%;
				border:1px solid #056277;
			}
		}
	}
}

//Animation
.fade-in-left {
	animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	display: flex!important;
}

.fade-in-top {
	animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	display: flex!important;
}

.fade-in-right {
	animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	display: none!important;
}

.fade-in-bottom {
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	display: flex!important;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


//General
h2 {
	position: relative;
	margin-top:30px;

	.text {
		margin-left:165px;
		text-transform:uppercase;
		font-weight:700;
		font-size:22px;
	}

	.blue {
		display: inline-block;
		position: absolute;
		top:50%;
		transform: translate(0,-50%);
		content:'';
		width: 150px;
		height: 42px;
		background-color:$green;
		border-radius:20px;

		.line {
			top:50%;
			transform:translate(0,-50%);
			position: absolute;
			width: 70px;
			content: '';
			background-color:$white;
			height: 5px;

			&::before {
				content:'';
				position: absolute;
				transform:translate(0,-50%);
				top:50%;
				width:10px;
				height: 10px;
				right: -2px;
				border-radius:50%;
				background-color:$white;
			}
		}
	}
}


#navbar {
	margin-top: 50px;
	position: fixed;
	width: 100%;
	z-index: 9999;

	&.fixed {
		margin-top: 0;
		background-color:$green;

		.bg-black {
			border-radius:0;
		}
	}

	.logo {
		position: relative;
		top:50%;
		width: 90%;
		transform: translate(0,-50%);
	}

	.bg-green {
		background-color:$green;
		padding:20px 50px;
		border-radius: 30px 0px 0px 30px;
		display: inline-block;
	}

	.bg-black {
		display: inline-block;
		position: absolute;
		background-color:$black;
		padding:8px 30px 8px 40px;
		border-radius: 0px 30px 30px 0px;
		text-align: center;

		.phone {
			position: absolute;
			left: -22px;
			top:50%;
			transform: translate(0,-50%);
			width: 45px;
			height: 45px;
			border-radius:50%;
			background-color:$black;
			border:1px solid $white;

			i {
				color: $white;
				margin-top: 12px;
			}
		}

		.call {
			text-align: left;
			position: relative;

			a {
				text-decoration: none;
			}

			span {
				display: block;
				color: $white;
			}
		}
	}

	ul {
		margin:0;
		padding: 0;

		li {
			display: inline-block;
			margin-left: 30px;

			&.has-submenu {
				position: relative;

				&:hover .submenu {
					display: block;
				}
			}

			.submenu {
				display: none;
				padding:20px;
				border-radius: 10px;
				margin-top: 24px;
				position: absolute;
				top:0;
				width: 500px;
				z-index: 100;
				background-color: rgba(255,255,255,0.9);

				&.view {
					display: block;
				}

				a {
					color:$black;
				}

				h4 {
					font-weight: 700;
					font-size: 17px;
				}

				li {
					margin:0;
					padding:0;
					list-style-type: none;
					display: block;

					a {
						color: #303030;
						font-size:14px;
						display: block;

						&:hover {
							color: $green;
						}
					}
				}

				.title {
					font-weight: 700;
					display: block;
					margin-top: 15px;
					color:#303030;
				}
			}

			&:first-child {
				margin:0;
			}

			a {
				text-decoration: none;
				font-weight: 600;
				color: $white;

				&:hover {
					color: #c1c1c1;
				}
			}
		}
	}
}

#capabilities {
	padding:50px 0;

	#quality,#quote {
		display: none;
	}

	.slide-info {

		&.view {
			display: block;
		}

		.img {
			content:'';
			position: relative;
			height: 100%;
			width: 100%;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
		}

		.info {
			position:relative;
			margin-left:80px;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				margin-bottom:30px;

				span {
					color:$green;
					font-weight:700;
				}
			}

			 p {
			 	font-weight:400;
			 	text-align: justify;
			 }

			 .owl-quotation {
			 	margin-top:30px;

			 	.item {
			 		border:1px solid #ececec;
			 		border-radius:0;
			 		padding:20px;
			 		height: 250px;
			 	}

			 	h3 {
			 		font-size:16px;
			 		font-weight:600;
			 		margin-bottom:20px;
			 	}

			 	ul {
			 		padding:0;

			 		li {
			 			list-style-type:none;
			 			font-size:13px;
			 		}
			 	}
			 }
		}
	}

	.owl-capabilities {
		margin:60px 0;

		.item {

			&.active {
				.text {
					height: 100%;

					h3 {
						top:50%;
						position: relative;
						transform: translate(0,-50%);
					}

					.btn-more {
						position: absolute;
						bottom:20px;
						left:30px;
					}
				}
			}

		}

		.img {
			height: 470px;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			transition:all 0.3s ease;
			cursor:pointer;

			&:hover {
				transition:all 0.3s ease;
				opacity:0.9;

				.text {
					background-color: rgba(1,1,1,0.8);
				}
			}

			.text {
				height: 165px;
				width: 100%;
				background-color: rgba(1,1,1,0.6);
				position:absolute;
				bottom:0;
				padding:25px;

				h3 {
					color:$white;
					top:50%;
					font-size:24px;
					font-weight:700;
					text-transform:uppercase;
					letter-spacing:1px;
				}

				.btn-more {
					text-transform:uppercase;
					color:$white;
					padding:0;

					&:hover {
						color: #c1c1c1;
					}
				}
			}
		}
	}
}

#services {
	overflow:hidden;
	position: relative;
	padding:60px 0;

	.item-service {
		display: none;

		&:first-child {
			display: inline-flex;
		}
	}

	.img {
		content:'';
		height: 100%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	.info {
		// padding:50px 0;
		height:730px;
	}

	.btn-contact {
		border-radius:50px;
		background-color:$green;
		padding:10px 43px;
		color:$white;
		text-transform:uppercase;
		font-weight:600;
		margin-top:30px;

		&:hover {
			opacity: 0.8;
		}
	}

	h2 {
		margin:inherit;
		font-size:40px;
		margin-bottom:40px;
		line-height:45px;
		font-weight:400;

		span {
			display: block;
			font-weight:600;

			&.final {
				display: inline-block;
				font-weight:600;
			}
		}
	}
	
	h3 {
		font-weight:700;
		font-size:20px;
		margin-bottom:15px;
	}

	p {
		font-weight:500;
		font-size:15px;
	}

	ul {
		padding-left: 18px;

		li {
			font-weight:500;
			font-size:15px;
		}
	}

	.button {
		position: absolute;
		top:50%;
		transform:translate(0,-50%);
		padding: 0;
		right:30%;

		li {
			margin:20px 0;
			list-style-type: none;

			.circle {
				width:100px;
				height:100px;
				border-radius:50%;
				background-color:$green;
				background-size:50%;
				background-position:center;
				background-repeat:no-repeat;
				position: relative;
				cursor: pointer;

				&:hover {
					background-color:#015265;
				}

				.line {
					display: none;
				}

				&.active {

					.line {
						display: block;
						position: relative;
						content:'';
						right:-94px;
						z-index:-1;
						top:50%;
						transform: translate(0,-50%);
						width:150px;
						height: 40px;
						background-color:$green;
						border-radius:0 20px 20px 0;

						&.two {
							width:200px;
						}

						&.three {
							width:353px;
						}

						&.four {
							width:475px;
						}

						&::after {
							top:50%;
							transform: translate(0,-50%);
							content:'';
							position: absolute;
							background-color:$white;
							z-index:2;
							margin-left:55px;
							width:10px;
							height:10px;
							border-radius:50%;
						}

						&::before {
							top:50%;
							transform: translate(0,-50%);
							content:'';
							position: absolute;
							background-color:$white;
							z-index:2;
							width:60px;
							height:4px;
						}

						h3 {
							top:50%;
							position: relative;
							transform: translate(0,-50%);
							text-align: right;
							font-size:17px;
							color:$white;
							padding-right:20px;
						}
					}
				}
			}
		}
	}
}

footer {
	background-image:url('../img/bg-footer.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	padding:30px 0;

	p {
		color:$white;
		font-size:14px;
	}

	.logo {
		position: relative;
		top:50%;
		transform: translate(0,-50%);
		max-width:55%;
		display: block;
		margin:0 auto;
	}

	.info {
		max-width:85%;
		position: relative;
		top:50%;
		transform: translate(0,-50%);
	}

	h3 {
		color:$white;
		text-transform:uppercase;
		font-weight:800;
	}

	.line {
		height: 3px;
		background-color:#056277;
		width:80%;
		display: block;
		margin:10px 0;
	}

	ul {
		padding: 0;

		li {
			a {
				color: $white;
				text-decoration:none;
				font-weight:600;

				&:hover {
					opacity: 0.7;
					color:$white;
				}
			}
		}
	}

	.copy {
		position: relative;
		top:50%;
		transform: translate(0,-50%);
		font-weight:600;
		font-size:14px;
	}
}

#competitive {
	padding:60px 0;

	.img {
		position: relative;
		content:'';
		width: 100%;
		height: 480px;
		top:50%;
		transform: translate(0,-50%);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
	}

	.circle-big {
		position: relative;
		width: 550px;
		height: 550px;
		background-color: $white;
		border-radius:50%;
		border:2px solid $green;
		z-index:1;
		margin-left:-140px;

		.line {
			width:465px;
			height: 465px;
			content:'';
			position: absolute;
			top: 40px;
    		left: 40px;
			animation:spin 40s linear infinite;
			background-image:url('../img/home/circle-line.png');
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
			z-index:-2;
		}

		.circle-click {
			// &:hover {
			// 	border-color:#6f6f6f;
			// 	background-color:#ececec;
			// }
			&.active {
				background-color:$green;
			}
		}

		.circle-one {
			position: absolute;
			width:85px;
			height:85px;
			background-color:$white;
			border:2px solid $green;
			border-radius:50%;
			top:0;
			left:80px;
			background-image:url('../img/home/competitive/icon-1.png');
			background-size:60%;
			background-position:center;
			background-repeat:no-repeat;
			cursor: pointer;
			z-index:2;
		}

		.circle-two {
			position: absolute;
			width:85px;
			height:85px;
			background-color:$white;
			border:2px solid $green;
			border-radius:50%;
			top:0;
			right:80px;
			background-image:url('../img/home/competitive/icon-2.png');
			background-size:60%;
			background-position:center;
			background-repeat:no-repeat;
			cursor: pointer;
			z-index:2;
		}

		.circle-three {
			position: absolute;
			width:85px;
			height:85px;
			background-color:$white;
			border:2px solid $green;
			border-radius:50%;
			top:50%;
			transform: translate(0,-50%);
			left:-40px;
			background-image:url('../img/home/competitive/icon-3.png');
			background-size:60%;
			background-position:center;
			background-repeat:no-repeat;
			cursor: pointer;
			z-index:2;
		}

		.circle-four {
			position: absolute;
			width:85px;
			height:85px;
			background-color:$white;
			border:2px solid $green;
			border-radius:50%;
			top:50%;
			transform: translate(0,-50%);
			right:-40px;
			background-image:url('../img/home/competitive/icon-4.png');
			background-size:60%;
			background-position:center;
			background-repeat:no-repeat;
			cursor: pointer;
			z-index:2;
		}

		.circle-five {
			position: absolute;
			width:85px;
			height:85px;
			background-color:$white;
			border:2px solid $green;
			border-radius:50%;
			bottom:0;
			left:80px;
			background-image:url('../img/home/competitive/icon-5.png');
			background-size:60%;
			background-position:center;
			background-repeat:no-repeat;
			cursor: pointer;
		}

		.circle-six {
			position: absolute;
			width:85px;
			height:85px;
			background-color:$white;
			border:2px solid $green;
			border-radius:50%;
			bottom:0;
			right:80px;
			background-image:url('../img/home/competitive/icon-6.png');
			background-size:60%;
			background-position:center;
			background-repeat:no-repeat;
			cursor: pointer;
		}

		.inner-circle {
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			width: 380px;
			height: 380px;
			background-color: $green;
			border-radius:50%;
			z-index:-1;

			.line-select {
				content:'';
				position: relative;
				width: 550px;
				height: 37px;
				border-top:0;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%) rotate(57deg);
				background-color: $green;
				z-index:-1;

				.point {
					position: absolute;
					width:58px;
					height: 9px;
					background-image:url('../img/home/competitive/line-point.png');
					background-size:contain;
					top:38%;
					left:10px;
				}

				&::before {
					content:'';
					background-color:white;
					border:0;
					width:86px;
					height: 40px;
					top:50%;
					right:0;
					transform: translate(0,-50%);
					position: absolute;
					z-index:0;
				}
			}

			.text {
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
				text-align: center;
				z-index:2;
				width: 90%;

				h4 {
					text-transform:uppercase;
					color:$white;
					font-size:17px;
					font-weight:600;
				}

				ul {
					padding: 0;
				    margin: 0 auto;

					li {
						line-height:16px;
						list-style-type: none;
						margin-bottom:5px;
						text-align: center;
						color: $white;
						font-size:13px;
					}
				}
			}
		}
	}

	h3 {
		padding:30px 0;
		font-size:35px;

		span {
			font-weight:600;
		}
	}
}

#contact {
	padding:60px 0;

	.form {
		padding:23px;
		box-shadow:10px 10px 20px rgba(1,1,1,0.5);
		border:1px solid #ececec;
		border-radius:13px;
		border-color:#a8a8a8;

		.form-group {
			border-radius:20px;
			margin-bottom:18px;
		}

		.form-control {
			background-color:#eaeaea;
			padding:14px 15px;
			font-size:15px;
			border-radius:10px;
			color:#737373;
			border-color:#a8a8a8;

			&::placeholder {
				color:#737373;
			}
		}

	}

	h3 {
		margin:35px 0;
		font-size:40px;

		span {
			font-weight:600;
		}
	}

	.btn-submit {
		background-color:$green;
		color:$white;
		text-align: center;
		margin:20px auto;
		padding:10px 30px;
		border-radius:20px;
		text-transform:uppercase;
		font-weight:600;
	}
}

#contact-page {

	.margin-left {
		padding-top:150px;
		padding-bottom:70px;
		margin-left:70px;
	}

	.form {
		padding:23px;
		box-shadow:10px 10px 20px rgba(1,1,1,0.5);
		border:1px solid #ececec;
		border-radius:13px;
		border-color:#a8a8a8;

		.form-group {
			border-radius:20px;
			margin-bottom:18px;
		}

		.form-control {
			background-color:#eaeaea;
			padding:14px 15px;
			font-size:15px;
			border-radius:10px;
			color:#737373;
			border-color:#a8a8a8;

			&::placeholder {
				color:#737373;
			}
		}

	}

	h3 {
		margin:35px 0;
		font-size:40px;

		span {
			font-weight:600;
		}
	}

	.btn-submit {
		background-color:$green;
		color:$white;
		text-align: center;
		margin:20px auto;
		padding:10px 30px;
		border-radius:20px;
		text-transform:uppercase;
		font-weight:600;
	}
}

//SECTORS
#sectors {

	#header {
		height: 650px;
		position: relative;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		background-attachment:fixed;

		&::before {
			content:'';
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background-color:rgba(5,98,119,0.6);
		}

		.text {
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);

			h1 {
				color:$white;
				font-weight:700;
				font-size:34px;
			}
		}
	}

	.info {
		padding:40px 0;
	}

	.title-primary {
		margin-bottom:30px;
	}

	p {
		font-size:24px;
	}

	.owl-industrial {
		margin:40px 0;

		.cube {
			height: 300px;
			position: relative;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			cursor:pointer;

			&:hover {
				.text a {
					display: block;
				}
			}

			&::before {
				content:'';
				position:absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background-color:rgba(1,1,1,0.5);
			}

			.text {
				position: absolute;
				bottom:0;
				padding:20px;

				h3 {
					color:$white;
					font-size:19px;
					margin:0;
					font-weight:700;
				}

				a {	
					display: none;
					font-size:15px;
					text-decoration:none;
					color:$white;

					&:hover {
						color:#ececec;
					}
				}
			}
		}
	}
}

//Homepage
#homepage {
	#about {
		padding:50px 0;

		p {
			text-align: justify;
		}

		ul {
			margin-top: 30px;

			li {
				position: relative;
				list-style-type: none;
				line-height: 30px;

				&::before {
					content:'';
					position: absolute;
					width: 13px;
					height: 13px;
					background-color: $green;
					border-radius: 50%;
					margin-left: -20px;
					margin-top: 7px;
				}
			}
		}

		.img {
			position: relative;
			content:'';
			height: 100%;
			width:100%;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;

			&:hover {
				background-position: left;
				opacity:0.8;
			}

			.text {
				padding:40px;
				position: absolute;
				bottom:0;
				width:100%;
				background-color:rgba(1,1,1,0.4);

				h2 {
					font-size:60px;
					font-weight:800;
					color:$white;
					margin:0;
				}

				h4 {
					margin:0;
					text-transform:uppercase;
					color:$white;
					font-size:20px;

					span {
						font-weight:600;
						color:#00aeea;
					}
				}
			}
		}
	}
	#value {
		background-image:url('../img/home/bg-values.jpg');
		background-size:cover;
		background-attachment:fixed;
		padding:80px 0;
		background-repeat:no-repeat;
		background-position:center;

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:70%;

			span {
				color:$green;
				font-weight:600;
			}
		}

		.cube {
			padding:30px;
			border-radius:10px;
			background-color:rgba(255,255,255,0.8);
			margin-bottom:30px;
			height: 220px;

			&:hover {
				background-color:$green;
				box-shadow:10px 10px 10px rgba(1,1,1,0.3);

				h3,p {
					color:$white;
					cursor:pointer;
				}
			}

			h3 {
				font-weight:800;
				font-size:18px;
				text-align:center;
			}

			p {
				font-size:14px;
			}
		}
	}

	#certification {
		padding:80px 0;

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:70%;

			span {
				font-weight:600;
			}
		}

		ul {
			padding:0;
			margin-top:20px;
			padding-left:10px;

			li {
				list-style-type: none;
			}
		}

		.owl-certification {
			margin:40px 0;

			.owl-dots {
				margin-top:20px;
			}

			.owl-nav {
				width:100%;
				position: absolute;
				top:50%;
				z-index: -1;
				transform: translate(0,-50%);

				.owl-prev {
					float: left;
					margin-left:-40px;

					&:hover {
						background:transparent;
						color:$green;
					}
				}

				.owl-next {
					float: right;
					margin-right:-40px;

					&:hover {
						background:transparent;
						color:$green;
					}
				}
			}

			.logo {
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;
				height: 230px;
				display: block;
				position: relative;

				&:hover {
					cursor:pointer;

					.text {
						display: block;
					}
				}
			}

			.text {
				position: absolute;
				content:'';
				top:50%;
				transform: translate(0,-50%);
				width:100%;
				height: 100%;
				background-color:rgba(1,1,1,0.6);
				display: none;

				.center {
					position: relative;
					top:50%;
					left:50%;
					padding:0 30px;
					transform: translate(-50%,-50%);
				}

				h3 {
					font-size:18px;
					text-transform:uppercase;
					color:$white;
					font-weight:600;
					text-align:center;
					margin:0;
				}

				p {
					margin:0;
					text-align:center;
					font-size:13px;
					color:$white;
				}
			}
		}
	}

	#clients {
		padding:80px 0;

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:70%;

			span {
				font-weight:600;
			}
		}

		.person {
			text-align:center;

			img {
				display: block;
				margin:0 auto;
				margin-top:60px;
				margin-bottom:20px;
			}

			h3 {

			}

			h4 {
				text-transform:uppercase;
				color:$green;
				font-size:16px;
				font-weight:700;
			}

			p {
				max-width:70%;
				font-size:16px;
				font-weight:600;
				margin:0 auto;
			}
		}
	}

	#near {
		padding:60px 0;
		background-image:url('../img/home/bg-near.jpg');
		background-size:cover;
		background-attachment:fixed;
		background-position:center;
		background-repeat:no-repeat;

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:70%;

			span {
				font-weight:600;
				color:$green;
			}
		}

		.subtitle {
			font-size:16px;
			font-weight:500;
		}

		img {
			margin-top:15px;
			box-shadow:10px 10px 10px rgba(1,1,1,0.5);
		}

		h3 {
			font-weight:700;
			text-transform:uppercase;
			font-size:20px;
			margin:20px 0;
		}

		p {
			font-size:14px;
		}
	}

	#production {
		padding-top:60px;

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:70%;

			span {
				font-weight:600;
			}
		}

		img {
			margin:20px 0;
		}
	}

	#capabilities {
		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:80%;

			span {
				font-weight:600;
			}
		}

		h3 {
			font-weight:600;
			font-size:22px;
		}
	}

	#career {
		padding:50px 0;
		background-color:#fbfbfb;
		position: relative;

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:80%;

			span {
				font-weight:600;
			}
		}

		img {
			margin-top:40px;
		}

		h4 {
			text-align:center;
			font-weight:600;
			margin-top:15px;
			font-size:20px;
		}
	}

	#contact {
		padding:60px 0;

		.form {
			padding:23px;
			box-shadow:10px 10px 20px rgba(1,1,1,0.5);
			border:1px solid #ececec;
			border-radius:13px;
			border-color:#a8a8a8;

			.form-group {
				border-radius:20px;
				margin-bottom:18px;
			}

			.form-control {
				background-color:#eaeaea;
				padding:14px 15px;
				font-size:15px;
				border-radius:10px;
				color:#737373;
				border-color:#a8a8a8;

				&::placeholder {
					color:#737373;
				}
			}

		}

		h3 {
			margin:35px 0;
			font-size:40px;

			span {
				font-weight:600;
			}
		}

		.btn-submit {
			background-color:$green;
			color:$white;
			text-align: center;
			margin:20px auto;
			padding:10px 30px;
			border-radius:20px;
			text-transform:uppercase;
			font-weight:600;
		}
	}
}

#end {
	position: relative;

	.circle-float {
		position: absolute;
		right: 50px;
		top:50%;
		transform: translate(0,-50%);
		z-index:100;
		padding: 0;

		li {
			list-style-type: none;
			margin-bottom: 10px;

			.circle {
				width: 60px;
				height: 60px;
				background-color: white;
				border-radius: 50%;
				position: relative;
				background-size: 60%;
				background-position: center;
				background-repeat: no-repeat;
				cursor:pointer;

				&:hover .text {
					display: block;
				}

				&:hover {
					background-color: $green;
				}

				.text {
					display: none;
					padding:5px 0;
					top:50%;
					transform: translate(0,-50%);
					position: absolute;
					left:-305px;
					width: 320px;
					font-size:12px;
					text-align: center;
					border-radius: 50px;
					text-transform: uppercase;
					background-color: $green;
					color:$white;
					z-index:-1;

					span {
						z-index: 3;
						font-weight: 600;
					}

					&::before {
						content:'';
						height: 3px;
						width: 100%;
						position: absolute;
						left:20px;
						top:50%;
						z-index: -0;
						transform: translate(0,-50%);
					}
				}
			}
		}
	}

	.owl-end {

		.item {
			background-color: #dedede;
		}

		.text {
			padding-top: 230px;
			padding-bottom: 100px;

			h3 {
				font-size: 37px;
				margin:0;
			}

			h2 {
				margin:0;
				font-size:38px;
				font-weight:700;
				margin-bottom: 35px;
			}

			h4 {
				text-transform: uppercase;
				margin-bottom: 30px;
				font-weight: 600;
				font-size: 21px;
			}

			ul {
				padding-left: 20px;

				li {
					position: relative;
					list-style-type: none;
					line-height:35px;
					font-size: 18px;

					&::before {
						left:-15px;
						content:'';
						position: absolute;
						margin-top:16px;
						width:8px;
						height: 3px;
						background-color: black;
					}
				}
			}

			.btn {
				background-color:$green;
				color:$white;
				text-align: center;
				margin:20px auto;
				padding:10px 30px;
				border-radius:20px;
				text-transform:uppercase;
				font-weight:600;
			}
		}
	}

	.img {
		position: absolute;
		content:'';
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.owl-benefits {

	.img {
		height: 180px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.6);
		margin-bottom: 20px;
	}

	.owl-item {

		&.center {
			.text {
				opacity: 1;
			}
		}

		.text {
			opacity: 0;

			h3 {
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 700;
			}

			p {
				font-size: 14px;
			}
		}
	}
}

#fullpage {
	.height {
		height: 100vh;
	}

	.section-1 {
		position: relative;

		.float-button {
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			right: 50px;
			padding:0;

			li {
				list-style-type: none;
				margin-bottom: 15px;
			}

			a {
				display: block;
				border-radius: 50%;
				width: 41px;
				height: 41px;
				background-color: $white;
				position: relative;

				&.active {
					background-color:#056277;

					span {
						border-radius: 40px;
						z-index:-1;
						position: absolute;
						left:-270px;
						width:300px;
						padding:10px 15px;
						font-weight: 700;
						font-size:14px;
						text-transform: uppercase;
						background-color: #056277;
						display: block;
						color:$white;

						&.finance {
							left:-110px;
							width:150px;
						}
					}

					&::before {
						background-color: white;
						right: 30px;
						left:inherit;
					}

					&::after {
						background-color: white;
						width: 45px;
					}
				}

				&::before {
					content:'';
					position: absolute;
					width: 12px;
					height: 12px;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
					border-radius: 50%;
					background-color: #056277;
				}

				&::after {
					content: '';
					position: absolute;
					width: 20px;
					top:50%;
					right: 0;
					transform: translate(0,-50%);
					height: 5px;
					background-color: #056277;
				}

				span {
					display: none;
				}
			}
		}

		.text {
			top:50%;
			position: relative;
			transform: translate(0,-50%);

			h1 {
				text-transform: uppercase;
				font-weight: 800;
				font-size: 60px;
			}

			.btn {
				background-color:$green;
				color:$white;
				text-align: center;
				margin:20px auto;
				padding:10px 30px;
				border-radius:20px;
				text-transform:uppercase;
				font-weight:600;
			}
		}

		.img {
			content:'';
			position: relative;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.section-2 {
		position: relative;

		.top {
			top:50%;
			position: relative;
			transform: translate(0,-50%);

			.title-primary {
				margin-bottom: 30px;
			}

			h3 {
				margin-top: 30px;
				display: block;
			}

			strong {
				margin:20px 0;
				display: block;
			}

			p {
				text-align: justify;
			}
		}

		.img {
			content:'';
			position: relative;
			height: 100%;
			width: 100%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.section-3 {
		 position: relative;

		.owl-equipment {

			.owl-nav {
				margin:0;
				position: absolute;
				top:50%;
				width: 100%;
				transform: translate(0,-50%);

				.owl-next {
					float: right;
					margin-right: -40px;
					border: 1px solid $green;
					padding: 3px 9px!important;
					color:$green;
					cursor:pointer;

					&:hover {
						background: $green;
						color: $white;
					}
				}

				span {
					margin-right: -3px;
				}

				.owl-prev {
					float: left;
					margin-left: -40px;
					border: 1px solid $green;
					padding: 3px 9px!important;
					color:$green;
					cursor:pointer;

					&:hover {
						background: $green;
						color: $white;
					}
				}
			}

			.item {
				padding:26px 14px;
			}

			.cube {
				box-shadow: 0px 10px 14px rgba(1,1,1,0.3);
				padding:30px 20px;
				height: 235px;

				h4 {
					font-weight:600;
					text-transform: uppercase;
					font-size: 18px;
				}

				ul {
					padding: 0;

					li {
						text-transform: uppercase;
						font-size: 10px;
						list-style-type: none;
					}
				}
			}
		}

		 .info {
			 margin:25px 0;

			 .img {
				 background-size:cover;
				 background-repeat: no-repeat;
				 background-position: center;
				 height: 270px;
			 }

			 h3 {
				 margin:20px 0;
				 text-transform: uppercase;
				 font-size: 20px;
				 font-weight: 700;
			 }
		 }

		 .top {
			 top: 50%;
			 position: relative;
			 transform: translate(0, -50%);
		 }

		 .title {
			 margin-bottom:30px;
			 font-size:40px;
			 max-width:70%;

			 span {
				 color:$green;
				 font-weight:600;
			 }
		 }
	 }

	.section-4 {
		position: relative;

		.info {
			margin:25px 0;

			.img {
				background-size:cover;
				background-repeat: no-repeat;
				background-position: center;
				height: 270px;
			}

			h3 {
				margin:20px 0;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 700;
				max-width: 70%;
			}
		}

		.top {
			top: 50%;
			position: relative;
			transform: translate(0, -50%);
		}

		.title {
			margin-bottom:30px;
			font-size:40px;
			max-width:70%;

			span {
				color:$green;
				font-weight:600;
			}
		}

		.circle {
			border-radius: 50%;
			content:'';
			height: 180px;
			width: 180px;
			margin:0 auto;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			overflow:hidden;
			cursor:pointer;
			background-color: black;
			box-shadow: 0px 0px 10px rgba(1,1,1,0.5);

			&:hover .text {
				margin:0;
			}

			.text {
				margin-bottom: -90px;
				background-color: rgba(1,1,1,0.6);
				position: absolute;
				width:100%;
				padding-top:15px;
				padding-bottom: 35px;
				bottom:0;
				display: block;
				text-align: center;
				color:white;
				text-decoration: none;
			}
		}

		h3 {
			color:#303030;
			text-align: center;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 700;
			margin: 14px 0;
			margin-bottom: 30px;
		}
	}

	.section-5 {
		position: relative;

		.img {
			content: '';
			position: relative;
			height: 150px;
			width: 150px;
			border-radius: 50%;
			margin:0 auto;
			margin-bottom: 20px;
			background-size:60%;
			background-position: center;
			background-repeat: no-repeat;
			border:4px solid $green;
			cursor:pointer;

			&:hover {
				background-color: $green;
			}
		}

		h3 {
			opacity:0;
			font-size: 17px;
			text-align: center;

			span {
				display: block;
			}
		}

		ul {
			padding:0;

			li {
				font-size: 17px;
				text-align: center;
				list-style-type: none;
			}
		}

		.top {
			top: 50%;
			position: relative;
			transform: translate(0, -50%);
		}

		.title {
			margin-bottom: 30px;
			font-size: 40px;

			span {
				color: $green;
				font-weight: 600;
			}
		}
	}

	.section-6 {
		.top {
			top: 50%;
			position: relative;
			transform: translate(0, -50%);
		}
	}
}

#career {
	background-color: #dedede;
	position: relative;

	.float-button {
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		right: 20px;
		padding:0;

		li {
			list-style-type: none;
			margin-bottom: 15px;
		}

		a {
			display: block;
			border-radius: 50%;
			width: 41px;
			height: 41px;
			background-color: $white;
			position: relative;

			&.active {
				background-color:#056277;

				span {
					border-radius: 40px;
					z-index:-1;
					position: absolute;
					left:-270px;
					width:300px;
					padding:10px 15px;
					font-weight: 700;
					font-size:14px;
					text-transform: uppercase;
					background-color: #056277;
					display: block;
					color:$white;

					&.finance {
						left:-110px;
						width:150px;
					}
				}

				&::before {
					background-color: white;
					right: 30px;
					left:inherit;
				}

				&::after {
					background-color: white;
					width: 45px;
				}
			}

			&::before {
				content:'';
				position: absolute;
				width: 12px;
				height: 12px;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
				border-radius: 50%;
				background-color: #056277;
			}

			&::after {
				content: '';
				position: absolute;
				width: 20px;
				top:50%;
				right: 0;
				transform: translate(0,-50%);
				height: 5px;
				background-color: #056277;
			}

			span {
				display: none;
			}
		}
	}

	h1 {
		font-weight: 800;
	}

	h3 {
		font-size: 16px;
		font-weight: 700;
		margin:20px 0;
	}

	p {
		font-size: 15px;
		text-align: justify;
	}

	.text {
		padding-top:180px;
		padding-bottom: 80px;
	}

	.form-career {

		h2 {
			text-transform: uppercase;
			color: $green;
			font-size: 19px;
			font-weight: 700;
		}

		.input {
			position: relative;
			background-color: $green;
			padding:10px 20px;
			border-radius: 10px;

			.btn {
				position: absolute;
				top: 0;
				right: -30px;
				background-color: $green;
				padding:10.3px;
				color: $white;
			}
		}

		h4 {
			color: $green;
			font-size: 11px;
			margin-top: 25px;
			font-weight: 700;
		}
	}

	.img {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

#case-study {
	background-image: url("../img/cases/cases-bg.jpg");
	background-size:cover;
	background-repeat: no-repeat;

	.text {
		padding-top: 160px;
		padding-bottom: 120px;

		h2 {
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
		}

		h1 {
			font-weight: 800;
		}

		p {
			margin:30px 0;
		}
	}

	.scroll {
		height: 100%;
		content:'';
		position: absolute;
		top:0;
		width:100%;
		background-color: #dedede;
	}

	.form-career {

		h2 {
			text-transform: uppercase;
			color: $green;
			font-size: 19px;
			font-weight: 700;
		}

		.input {
			position: relative;
			background-color: $green;
			padding:10px 20px;
			border-radius: 10px;

			.btn {
				position: absolute;
				top: 0;
				right: -30px;
				background-color: $green;
				padding:10.3px;
				color: $white;
			}
		}
	}
}

//MEDIA QUERIES
@media only screen and (max-width : 1366px) {

	#career h1 {
		font-size: 30px;
	}

	#fullpage .section-3 .info h3 {
		font-size: 16px;
	}

	#fullpage .section-1 .text h1 {
		font-size: 38px;
	}

	#fullpage .section-3 .info .img {
		height: 150px;
	}

	#fullpage .section-2 .top h3 {
		font-size: 23px;
	}

	#fullpage .title {
		max-width: inherit!important;
		font-size: 35px!important;
	}

	#fullpage .section-4 .circle {
		width: 150px;
		height: 150px;
	}

	#fullpage .section-4 h3 {
		font-size: 13px;
	}

	#navbar .bg-green {
	    padding: 20px 40px;
	}

	#capabilities .slide-info .info .owl-quotation .item {
		height: inherit;
	}

	#services .button {
		right: 28.5%;
	}

	#navbar ul li {
		margin-left:18px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	#fullpage .section-2 .top h3 {
		font-size: 18px;
	}

	#end .owl-end .text h2 {
		font-size: 32px;
	}

	#contact-page h3 {
	    margin: 25px 0;
	    font-size: 29px;
	}

	#contact-page .margin-left {
		margin-left:30px;
	}

	#capabilities .slide-info .info {
		margin-left:inherit;
		top:inherit;
		transform: inherit;

		h2 {
			font-size:30px;
			margin-bottom:10px;
		}
	}

	#services .button {
		right: 337px;
	}

	#services h2 {
	    font-size: 30px;
	    margin-bottom: 20px;
	    line-height: 35px;
	}

	#capabilities .owl-capabilities .img .text h3 {
		font-size:22px;
	}

	#navbar ul li a {
		font-size:14px;
	}

	#navbar .bg-black {
		padding:10px 30px 8px 40px;
	}

	#competitive .circle-big {
		margin-left:-150px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#end .owl-end .text {
		padding-top: 160px;
		padding-bottom: 60px;
	}

	#contact-page .margin-left {
		padding:30px;
		margin-left:0;
	}

	#contact-page iframe {
		height: 500px;
	}

	#navbar .bg-black .phone {
		display: none;
	}

	#capabilities .slide-info .info {
		max-width:72%;
		margin:0 auto;
	}

	#capabilities .owl-capabilities .img .text {
	    height: 135px;
	}

	#services .info {
	    height: inherit;
	    max-width: 72%;
	    margin: 0 auto;
	}

	#capabilities .owl-capabilities .img {
		height: 300px;
	}

	#capabilities .owl-capabilities .img .text h3 {
	    font-size: 16px;
	}

	#services .button li .circle.active .line {
		display: none;
	}

	.phone {
		display: none;
	}

	.menu-mobile {
		display: none;
	}

	#services .button {
	    right: 265px;
	}

	.burger {
		color:$white;
		float: right;
		display: block;
	}

	#navbar .bg-black .call {
		text-align:center;
	}

	.close-icon {
		display: block;
		margin-top:30px;
		text-align: center;
	}

	#navbar .bg-green {
	    padding: 20px 6px;
	}

	.menu-mobile {
		position: fixed;
		right: 0;
		top:0;
		height: 100%;
		background-color: #047b96;
		margin-right:-270px;
		display: block;

		.top-center {
			top:5%;
			position: relative;
		}

		&.view {
			margin-right:0!important;
		}
			
		.bg-green {
			padding:40px 80px!important;
			background-color:transparent!important;

			li {
				margin-left:inherit!important;
				display: block!important;
			}
		}

		.bg-black {
			position: relative!important;
			display: block!important;
			border-radius:0!important;
		}
	}

	#services .button {
		position: relative;
		right: inherit;
		text-align: center;
		top:inherit;
		transform: inherit;
		margin-top: 30px;

		li {
			margin-left:20px;
			display: inline-block;
		}
	}

	#services h2 {
		span {
			display: inline-block;
		}
	}

	#services .button li {
		margin-left:10px;
	}

	#services .button {
		margin:10px 0;
	}

	#services .button li .circle {
		background-image:none!important;
		width:20px;
		height: 20px;

		&.active {
			background-color:#023b48;
		}
	}

	#competitive {
		padding:20px 0;
	}

	#competitive h3 {
	    font-size: 28px;
	    text-align: center;
	}

	#services {
	    overflow: inherit;
	    padding: 20px 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	#fullpage .section-1 {
		padding-top: 120px!important;
	}

	#fullpage .section-1 .text h1 {
		font-size: 30px;
	}

	#fullpage .section-3 .title {
		margin:0;
	}

	#fullpage .height {
		height: inherit;
	}

	#fullpage .vertical {
		padding:20px;
		text-align: center;
	}

	#fullpage h2 .text {
		margin-left: inherit;
	}

	#fullpage h2 .blue {
		top: inherit;
		transform: inherit;
		position: relative;
	}

	#fullpage .section-6 .top {
		top: inherit;
		transform: inherit;
	}

	#fullpage .section-5 h3 {
		opacity: 1!important;
	}

	#end .owl-end .text ul li {
		font-size: 16px;
	}

	#end .owl-end .text h4 {
		font-size: 19px;
	}

	#end .owl-end .text h2 {
		font-size: 28px;
	}

	#navbar.fixed {
		padding:20px 0!important;
	}

	#capabilities .slide-info .info {
		max-width:90%;
		margin:0 auto;
	}

	#services .btn-contact {
		display: block;
	}

	#services .info {
		height: inherit;
		max-width:90%;
		margin:0 auto;
	}

	#competitive .circle-big {
	    margin: 0 auto;
	    margin-top: -280px;
	}

	footer {
		text-align: center;
		padding:50px 0;

		.info {
			max-width:inherit;
			transform:inherit;
			top:inherit;
			margin-bottom:30px;
		}

		.line {
			margin:20px auto;
		}
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	#contact h3 {
		font-size:25px;
	}

	.circle-float {
		display: none;
	}

	#end .owl-end .text h2 {
		font-size: 25px;
	}

	#services {
		padding:20px 0;
	}

	h2 .blue {
		position: relative;
		top:inherit;
		transform: inherit;
	}

	h2 .text {
		margin-left:inherit;
	}

	#competitive .circle-big .inner-circle .text ul li {
	    line-height: 14px;
	    margin-bottom: 2px;
	    font-size: 11px;
	}

	#competitive .circle-big {
		.circle-one {
			width: 70px;
		    height: 70px;
		}

		.circle-two {
			width: 70px;
		    height: 70px;
		}

		.circle-three {
		    width: 70px;
		    height: 70px;
		    left: -11px;
		}

		.circle-four {
		    width: 70px;
		    height: 70px;
		    right: -12px;
		}

		.circle-five {
		    width: 70px;
		    height: 70px;
		}

		.circle-six {
		    width: 70px;
		    height: 70px;
		}
	}

	#competitive .circle-big {
		width: 360px;
		height: 360px;

		.inner-circle {
			width: 300px;
			height: 300px;
		}

		.line-select {
			display: none;
		}

		.line {
			display: none;
		}
	}

	#services .button li {

		&:list-child {
			margin-left:0
		}
	    margin-left: 10px;

	    .circle {
	    	width: 20px;
	    	height: 20px;
	    }
	}

	#competitive h3 {
		font-size:22px;
		text-align:center;
	}

	.title-primary {
		text-align:center;
	}

	#capabilities .owl-capabilities .img {
		height: 320px;
	}
}